<nav>
    <div class="site-title">
      <a href="/"><h1>Spaces</h1></a>
    </div>
    <ul>
      <li><a class="links" href="/">Spaces</a></li>
      <li><a class="links" href="/about">About</a></li>
      <li><a class="links" href="/spaces/create">New Space</a></li>
    </ul>
  </nav>