<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About This Application</h2>
      <h3>What This App Is</h3>
      <p>
        This application helps students find the perfect spaces for various
        needs, whether it's studying, napping, or simply finding a calm place to
        relax. Users can explore existing spaces and share their own, creating a
        helpful community resource.
      </p>
      <br />
      <h3>Key Features</h3>
      <ul style="list-style-type: none">
        <li>
          <b>Discover Spaces:</b> Easily browse a variety of spaces tailored for
          different activities. Use filters to find spots that suit your
          specific requirements, whether you need quiet, comfort, or
          inspiration.
        </li>
        <li>
          <b>Add Your Spaces:</b> Contribute to the community by sharing your
          favorite locations. Add details and photos to help others discover
          great new spots.
        </li>
        <li>
          <b>Community Interaction:</b> Connect with other users by leaving
          reviews and sharing tips about the best spaces to meet different
          needs.
        </li>
      </ul>
      <br />
      <h3>How It Works</h3>
      <ul style="list-style-type: none">
        <li>
          <b>Backend:</b> A reliable and secure server framework handles all
          data processing and user requests efficiently.
        </li>
        <li>
          <b>Database:</b> A scalable database system stores information about
          spaces, ensuring quick access and updates.
        </li>
        <li>
          <b>Frontend:</b> A user-friendly interface makes it easy to navigate,
          search, and add spaces on any device.
        </li>
      </ul>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
