<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About This Application</h2>
      <h3>What This App Is</h3>
      <p>
        This is an application that allows users to create, read, update, and delete spaces.
      </p>
      <br>
      <h3>Key Features</h3>
      <ul style="list-style-type: none;">
        <li>
          <b>View All Spaces:</b> 
        </li>
        <li>
          <b>Create New Spaces:</b>
        </li>
        <li>
          <b>Delete Spaces:</b> 
        </li>
      </ul>
      <br>
      <h3>How It Works</h3>
      <ul style="list-style-type: none;">
        <li><b>Backend: </b>
        </li>
        <li>
          <b>Database: </b>
        </li>
        <li>
          <b>Frontend: </b>
        </li>
      </ul>
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
