<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="create-space content">
      <h2 align="center">Create a New Space</h2>
      <form action="/spaces" method="POST">
        <label for="title">Space Title:</label>
        <input type="text" id="title" name="title" required />

        <label for="category">Category</label>
        <select name="category" id="category" required>
          <option class="whitelabel" value="Study Space">Study Space</option>
          <option class="whitelabel" value="Recreational">Recreational</option>
          <option class="whitelabel" value="Professional">Professional</option>
        </select>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="nearestBuilding">Nearest Building:</label>
        <input type="text" id="nearestBuilding" name="nearestBuilding" required />

        <label for="type">Indoors or Outdoors</label>
        <select name="type" id="type" required>
          <option class="whitelabel" value="Indoors">Indoors</option>
          <option class="whitelabel" value="Outdoors">Outdoors</option>
        </select>

        <label for="outlets">Availability of Outlets</label>
        <select name="outlets" id="outlets" multiple required>
          <option value="Plenty">Plenty</option>
          <option value="Many">Many</option>
          <option value="Limited">Limited</option>
          <option value="None">None</option>
        </select>

        <label for="capacity">Capacity</label>
        <select name="capacity" id="capacity" required>
          <option class="whitelabel" value="1-2">1-2</option>
          <option class="whitelabel" value="3-5">3-5</option>
          <option class="whitelabel" value="5-8">5-8</option>
          <option class="whitelabel" value="10+">10+</option>
        </select>

        <label for="peak">Peak Times</label>
        <select name="peak" id="peak" multiple required>
          <option value="Weekdays">Weekdays</option>
          <option value="Weekends">Weekends</option>
        </select>

        <label for="time1">Peak Time From:</label>
        <input type="time" id="time1" name="time1" required />
        <label for="time2">Peak Time To:</label>
        <input type="time" id="time2" name="time2" required />

        <button class="submit">Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>